* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #121212, #000000);
}

#controls {
  background: rgba(255,255,255,0.8);
  padding: 8px;
  border-radius: 4px;
}

#canvas {
  cursor: pointer;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transform: scale(2);
  transform-origin: center right;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
} 